*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(47, 47, 47);
}

main{
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 2px solid yellow;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 1rem;
}

main .left {
  background-color: rgb(18, 18, 19);
  position:relative;
}

main .left .review {
  position: absolute;
  bottom:1rem;
  right: 1rem;
  padding: 1rem 3rem;
  background-color: rgb(219, 224, 247);
  font-weight: 600;
  color: black;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;

}

.left .code, .code pre, .code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #171616;
  border-radius: 0.7rem;
}

main .right{
  background-color: #222121;
}